{% extends 'base.html' %}



{% block content %}
    <div class="container-fluid mt-3">
      <div class="row mt-5 text-center">
        <div class="col-2"></div>
        <div class="col-8">
          <h2 class="mt-5">Daron Marino - Data Scientist</h2>

          <p>I am a Data Scientist who is driven to gain insights from human behavior while positively impacting people’s lives.</p>

           <p>I first became interested in Data Science when I discovered how it can often incorporate my affinity for behavioral sciences and newer technologies. 
            I’m really interested in what drives people’s decisions and how certain factors can modify those decisions. 
            I think any major decision, whether policy related or otherwise, can and should be informed by what the data are telling us.</p>

          <p>In this project, I've incorporated my love for both music and Data Science to build a content-based
            recommender that can provide recommendations based on an individual's artist preferences.</p>
          <p>
            <a href="https://github.com/Daron-Marino/music-recommender-capstone" target="_blank">GitHub Repo</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/daronmarino/" target="_blank">LinkedIn Profile</a>
          </p>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

 <!-- bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
</body>
</html>
{% endblock %}