body {
  background: #000000;
  color: hsl(0, 73%, 38%);
  margin-top: 5rem;
  background-image: url(images/artists.jpg);
  opacity: 0.4;
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  background-color: #000;
}
 